:root {
  /* Colors */
  --color-principal: #037bc0;
}

/* * GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 5rem 0;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
}

@media (min-width:768px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

[class*="-container"] {
  width: min(95%, 120rem);
  margin: 0 auto;
}

.seccion {
  padding: 5rem 0;
}

/* *HEADER */
.header {
  padding: 3rem 0;
}

.header__title {
  text-align: center;
}

.header__span {
  color: var(--color-principal);
}