:root {
  /* Colors */
  --color-principal: #037bc0;
}

/* * GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  margin: 0 0 5rem 0;
  line-height: 1.5;
}

h1 {
  font-size: 4rem;
}

@media (min-width:768px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.4rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

[class*="-container"] {
  width: min(95%, 120rem);
  margin: 0 auto;
}

.seccion {
  padding: 5rem 0;
}

/* *HEADER */
.header {
  padding: 3rem 0;
}

.header__title {
  margin: 0;
  text-align: center;
}

.header__span {
  color: var(--color-principal);
}

/* * Menu */
.contenedor {
  border-top: 1px solid #e1e1e1;
}

.menu {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width:768px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu__link {
  color: rgb(15, 15, 15);
}

.menu__link--select {
  color: var(--color-principal);
}

/* * Hero */
.hero {
  height: 50rem;
  background-image: url("../img/principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width:768px) {
  .hero {
    height: 55rem;
  }
}