:root {
  /* Fonts */
  --fuente-principal: 'Raleway', sans-serif;
  --fuente-headin: 'Playfair Display', serif;

  /* Colors */
  --color-principal: #037bc0;
  --color-oscuro: #1f1f1f;
}

/* * GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font-size: 1.6rem;
  font-family: var(--fuente-principal);
}

h1,
h2,
h3,
h4 {
  margin: 0 0 5rem 0;
  line-height: 1.5;
  font-family: var(--fuente-headin);
}

h1 {
  font-size: 4rem;
}

@media (min-width:768px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: 2.8rem;
}

@media (min-width:768px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.6rem;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-oscuro);
}

ul {
  list-style: none;
}

[class*="-container"] {
  width: min(95%, 120rem);
  margin: 0 auto;
}

.seccion {
  padding: 5rem 0;
}

/* *HEADER */
.header {
  padding: 3rem 0;
}

.header__title {
  margin: 0;
  text-align: center;
}

.header__span {
  color: var(--color-principal);
}

/* * Menu */
.contenedor {
  border-top: 1px solid #e1e1e1;
}

.menu {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width:768px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu__link {
  color: var(--color-oscuro)
}

.menu__link--select {
  color: var(--color-principal);
}

/* * Hero */
.hero {
  height: 50rem;
  background-image: url("../img/principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width:768px) {
  .hero {
    height: 55rem;
  }
}

/* * Sobre-Nosotros */
.sobre-nosotros__title {
  text-align: center;
}

.sobre-nosotros__content {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

@media (min-width:768px) {
  .sobre-nosotros__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.sobre-nosotros__link {
  padding: 2rem;
  display: block;
  text-align: center;
  font-size: 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@media (min-width:768px) {
  .sobre-nosotros__link:hover {
    color: white;
  }

  .sobre-nosotros__link:hover {
    background-color: var(--color-principal);
  }
}